@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tajawal:300,400,500,700&display=swap&subset=arabic');

@tailwind base;

@tailwind components;

@tailwind utilities;